# Copy this file to secrets.properties and fill in your values from
# https://wearables.developer.meta.com/devcenter
# Do not commit secrets.properties (it is in .gitignore)
# Use "0" for APPLICATION_ID in Developer Mode

META_APPLICATION_ID=YOUR_APP_ID
META_CLIENT_TOKEN=YOUR_CLIENT_TOKEN
